.sidebar {
  background: #961B1B;
  position: absolute;
  width: 70px;
  height: 100vh;
  text-align: center;
}

.sidebar .navList a {
  display: block;
  color: #fff;
  font-size: 30px;
  margin-top: 15px;
}

.sidebar .logo img {
  height: 50px;
  width: auto;
}

.sidebar .navList .account {
  margin-top: 360px;
}
