.sidebar {
  background: #961B1B;
  position: absolute;
  width: 70px;
  height: 100vh;
  text-align: center;
}

.sidebar .navList {
  display: block;
  color: #fff;
  font-size: 30px;
  margin-top: 15px;
}

.sidebar .navList .sidebarItem {
  display: block;
  color: #fff;
  font-size: 30px;
  margin-top: 15px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s all;
}

.sidebar .navList .sidebarItem:hover {
  border: 3px solid #fff;
  padding: 0px 0px;
  border-radius: 5px;
}

.sidebar .logo img {
  height: 50px;
  width: auto;
}

.sidebar .navList .out{
  margin-top: 15px;
}

.sidebar .navList .account {
  display: block;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 0px 17px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s all;
}

.sidebar .navList .account:hover {
  border: 3px solid #fff;
  border-radius: 5px;
}

.sidebar .navList .sidebarItem .tooltip{
  position: absolute;
  font-size: 20px;
  left: 70px;
  top: 150;
  transform: translateY(-80%);
  border-radius: 12px;
  height: 35px;
  width: 170px;
  background: #fff;
  line-height: 25px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(173, 20, 20, 0.2);
  transition: 0.5s all;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.sidebar .navList .sidebarItem:hover .tooltip{
  color: black;
  transform: translateY(0%);
  border-radius: 12px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(173, 20, 20, 0.2);
  transition: 0s;
  opacity: 1;
  pointer-events: none;
  z-index: 1;
}

.sidebar .navList .account .tooltip{
  position: absolute;
  font-size: 20px;
  left: 70px;
  top: 150;
  transform: translateY(-80%);
  border-radius: 12px;
  height: 35px;
  width: 170px;
  background: #fff;
  line-height: 25px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(173, 20, 20, 0.2);
  transition: 0.5s all;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.sidebar .navList .account:hover .tooltip{
  color: black;
  transform: translateY(0%);
  border-radius: 12px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(173, 20, 20, 0.2);
  transition: 0s;
  opacity: 1;
  pointer-events: none;
  z-index: 1;
}
