.Home {

}

.content {
  height: 100vh;
  margin-left: 70px;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/* .content .header {
  margin-left: 3vh;
  color: #fff;
  font-size: 25px;
}

.content .header h1 {
  font-size: 8vh;
} */

.content .description {
  margin-left: 3vh;
  position: relative;
  top: 150px;
  color: black;
  font-size: 15px;
}

.content .description p {
  font-size: 2.5vh;
  font-weight: bold;
}

.header {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  margin-left: 3vh;
  letter-spacing: 0px;
  padding:50px 20px;
}


.h1 {
  font-size:8vh;
  position:relative;
  font-weight: bold;
  cursor: pointer;
}

.superShadow {
  text-shadow:  0 1px 0 rgb(255, 255, 255),
                0 2px 0 rgb(219, 195, 195),
                0 3px 0 rgb(214, 189, 189),
                0 4px 0 rgb(196, 172, 172),
                0 5px 0 rgb(196, 163, 163),
                0 6px 0 rgb(204, 167, 167),
                0 7px 0 rgb(172, 141, 141),
                0 8px 0 rgb(180, 126, 126),

                0 0 5px rgba(0,0,0,.05),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.15),
              0 5px 10px rgba(0,0,0,.2),
              0 10px 10px rgba(0,0,0,.25),
              0 20px 20px rgba(0,0,0,.3);
}

strong {
  font-size:200px;
}
