.content {
  margin-left: 70px;
  height: 100vh;
  background-image: url('./assets/background0.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.Home .content .bar {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #885454;
}

.content .header {
  margin-left: 0px;
  color: #fff;
  font-size: 15px;
}

.content .header h1 {
  font-size: 22px;
  margin-left: 30px;
}

.content .addp {
  color:white;
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.content .addp .plus {
  font-size: 25px;
}

.addp:hover{
  text-decoration: underline;
}

.content .project{
  margin-top: 20px;
}

.listproject {
  color:white;
  display: block;
  margin-top:2px;
  padding: 5px 15px;
  cursor:pointer;
  font-size: 18px;
  background: #a76c6c;
  border-radius: 30px;
}

.content .project .listproject:hover{
  background: rgba(102, 0, 0, 0.11);
  color: #fff;
}

.SearchBox {
  margin-left: 10px;
}

.nextbar{
  margin-left: 270px;
}

.proname{
  padding: 20px 0px 0px;
  font-size: 12px;
}

.addsp{
  display: flex;
  cursor: pointer;
  font-style: bold;
  font-size: 18px;
}

.addsp:hover{
  text-decoration:underline;
  color: black;
}

.content .addsp .plus {
  font-size: 25px;
}

.listsubproject{
  margin-top: 1px;
  font-size: 18px;
  color:rgb(0, 0, 0);
  display: block;
  padding: 5px 15px;
  cursor:pointer;
  font-size: 18px;
  background: #a76c6c;
  border-radius: 30px;
}

.ag {
  display: flex;
  font-size: 16px;
}

.agenda
{
  font-size: 16px;
  margin-left: 15px;
}
