.content {
  margin-left: 70px;
  height: 100vh;
  background-image: url('./assets/background0.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.Home .content .bar {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #885454;
}

.content .header {
  margin-left: 0px;
  color: #fff;
  font-size: 15px;
}

.content .header h1 {
  font-size: 3.5vh;
  margin-left: 30px;
}

.content .addws {
  color:white;
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.content .addws .plus {
  font-size: 25px;
}

.content .bar .project{
  color:white;
  margin-top: 10px;
  margin-left: 10px;
  cursor:pointer;
  font-size: 11px;
}

.SearchBox {
  margin-left: 10px;
}
